@use '_config';

.hero__block{
    @include config.flex-flow(column);

    background: url('./../img/comic-bbg.jpeg'), config.$heroColor;
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: -25% center;
    border-radius: 8px;

    text-align: center;

    margin: 10px;
    padding: 30px 10px;

    position: relative;

    height: 670px;
    width: auto;

    @media screen and (max-width: 768px) {
        border-radius: 24px;

        height: 600px;
    }

    &__video{
        object-fit: cover;
        border-radius: 10px;

        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;
    }

    &__overlay{
        border-radius: 10px;
        backdrop-filter: blur(25px);
        background-color: rgba(0,0,0,0.6);
        filter: saturate(2);

        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;

        z-index: 1;
    }

    &__image{
        height: 650px;

        display: none;

        z-index: 3;
        transform: translateY(10px);

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    &__content{
        @include config.flex-flow(column);
        gap: 20px;

        width: 50%;
        height: auto;
        
        text-align: center;

        z-index: 3;

        @media screen and (max-width: 768px) {
            width: 100%;

            transform: translateY(30px);
        }

        h1{
            @media screen and (max-width: 768px) {
                width: 80%;
            }

            img{
                height: 220px;
                width: auto;

                @media screen and (max-width: 768px) {
                    width: 100%;
                    height: auto;
                }
            }
        }

        p{
            font-size: 14px;
            line-height: 20px;

            max-width: 320px;

            margin: 0 0 10px 0;
        }

        ul{
            @include config.flex-flow();

            background-color: rgba(255,255,255,0.1);
            border-radius: 50px;
            
            padding: 5px;

            li{
                @include config.flex-flow();
                gap: 8px;

                border: solid 2px rgba(255,255,255,0.1);
                border-radius: 50px;

                font-size: 20px;
                text-align: center;

                width: 33%;
                min-width: 90px;
                padding: 5px 10px;

                cursor: pointer;
                transition: 0.3s ease-in-out;

                &:hover{
                    border-color: config.$redColor;
                }

                i{
                    color: config.$yellowColor;
                    line-height: 0;
                }

                span{
                    font-family: config.$pixelFont;
                    font-weight: 700;
                }
            }
        }

        a{
            border-radius: 40px;
            border: solid 2px transparent;

            font-family: config.$pixelFont;
            font-size: 32px;
            font-weight: 500;
            color: #fff;
            // text-shadow: -1px -1px 0 config.$yellowColor, 1px -1px 0 config.$yellowColor, -1px 1px 0 config.$yellowColor, 1px 1px 0 config.$yellowColor;

            padding: 4px 50px;
            position: relative;

            animation: pressStart 1s infinite ease;

            transition: 0.3s ease-in-out;

            &:hover{
                border-color: rgba(255,255,255,0.1)
            }

            &:after{
                content: '';

                background-color: config.$redColor;
                border-radius: 10px;
                opacity: 0;

                height: 3px;
                width: 100px;

                display: block;

                position: absolute;
                left: 50%;
                bottom: -18px;
                transform: translateX(-50%);

                transition: 0.3s ease-in-out;
            }

            &:hover:after{
                opacity: 1;
                
                bottom: -13px;
            }
        }
    }

    .block__container{

        @media screen and (max-width: 768px) {
            z-index: 3;
        }
    }
}