@use '_config';

.nav{
    background-color: rgba(255,255,255,0.2);
    border-radius: 50px;
    backdrop-filter: blur(6px);

    padding: 6px;

    position: fixed;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;

    @media screen and (max-width: 768px) {
        top: 24px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__menu{
        @include config.flex-flow(column);

        @media screen and (max-width: 768px) {
            @include config.flex-flow(row);

            width: min-width;
        }

        &__item{
            border-radius: 50px;
            border: solid 1px transparent;

            padding: 8px;
            overflow-y: hidden;
            aspect-ratio: 1 /1;

            transition: 0.3s ease-in-out;

            &:hover{
                background-color: rgba(255,255,255,0.2);
            }

            &--active{
                background-color: config.$redColor;

                &:hover{
                    background-color: config.$redColor;
                    border-color: config.$yellowColor;
                }
            }
        }
    }
}