@use '_config';

.advantages{
    padding: 120px 30px 60px 30px;

    img{
        border-radius: 10px;
        background-color: #ccc;

        object-fit: cover;

        width: 100%;
        max-width: 850px;
        height: 400px;
    }

    h2{
        font-size: 40px;
        color: config.$purpleColor;
        text-transform: uppercase;

        width: 100%;
        max-width: 850px;

        margin: 10px 0;
    }

    ul{
        width: 100%;
        max-width: 850px;
        
        li{
            background-color: #e6e6e6;
            border-radius: 10px;

            width: 100%;
            
            padding: 2px 8px 8px 8px;
            margin: 0 0 10px 0;

            h4{
                @include config.flex-flow();
                justify-content: space-between;

                margin: 0 0 -6px 0;

                transition: 0.3s ease-in-out;
    
                span{
                    font-size: 18px;
                    color: #333;
    
                    display: inline-block;
                    padding: 10px 5px;
                }
    
                i{
                    font-size: 20px;
                    color: config.$purpleColor;
                    line-height: 0;

                    margin: 0 10px 0 0;

                    cursor: pointer;
                    transition: 0.3s ease-in-out;
                }
            }
    
            p{
                background-color: #fff;
                border-radius: 0 0 8px 8px;

                color: #777;
                font-size: 14px;
    
                padding: 0 8px;
                height: 0;

                overflow-y: hidden;

                transition: 0.3s ease-in-out;
            }
        }

        .advantages__accordion__item--active{

            h4{
                margin: 0;

                i{
                    transform: rotate(180deg);
                }
            }

            p{
                height: auto;

                padding: 10px 8px;
            }
            
        }
    }

    .block__container{
        flex-direction: column;
    }
}