@use '_config';

.skills{
    width: 100%;
    max-width: 850px;

    text-align: center;

    padding: 0;
    margin: 0 auto 70px auto;

    @media screen and (max-width: 768px) {
        width: 86%;
    }

    &__item{
        border: solid 2px #ccc;
        border-radius: 12px;

        padding: 30px;
        margin: 0 0 10px 0;

        width: 100%;

        transition: 0.3s ease-in-out;

        &:hover{
            border: solid 2px config.$purpleColor;

            transform: translateY(-10px);
        }

        i{
            font-size: 60px;
            color: config.$purpleColor;
        }

        h5{
            font-size: 20px;
            font-weight: 800;

            white-space: break-spaces;

            margin: 0 0 10px 0;
        }

        p{
            font-size: 14px;
            color: #777;
        }
    }
}